<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../static/css/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ambulance</title>
</head>

<body>
    <div class="container">
        <h1 class="title">Ambulance Detector</h1>

        <form class="form" action="/predict" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label class="form-label" for="audio">Upload an audio:</label>
                <input class="form-control" type="file" id="audio" name="audio" accept="audio/*" required>
            </div>
            <a href="/" class="btn-home"><i class="fas fa-home"></i></a>
            <div style="display: flex; display: flex; width: 100%; justify-content: space-around;">
                <a class="home-btn" href="/">Home</a>

                <button class="btn" type="submit">Submit</button>
            </div>
        </form>
        <div class="loader" style="display: none;"> </div>
        {% if preds is not none %}
        <div id="prediction">
            <div class="result {% if preds == 1 %}success{% endif %}{% if preds == 0 %}error{% endif %}">
                {% if preds == 1 %}
                Ambulance Detected!
                {% endif %}

                {% if preds == 0 %}
                <p>Not an Ambulance!</p>
                {% endif %}
            </div>
            {% if spectrogram %}
            <div class=" spectrogram">
                <h2 class="spectrogram-title">Spectrogram</h2>
                <img src="../uploads/{{spectrogram}}.png" alt="Spectrogram">
            </div>
            {% endif %}
        </div>
        {% endif %}
    </div>

    <script src="../static/js/main.js"></script>
</body>

</html>